                    ,
               ,   |\ ,__
               |\   \/   `.
               \ `-.:.     `\
                `-.__ `\=====|
                   /=`'/   ^_\
                 .'   /\   .=)
              .-'  .'|  '-(/_|
            .'  __(  \  .'`
           /_.'`  `.  |`
                    \ |
                     |/
        <[--------------------]>

Server is Managed by Ragnar Ansible Playbook

* Link: https://github.com/DevRopen/Ragnar
* Version: v0.4.6
