// Remote Loki Server
loki.write "remote_loki" {
  endpoint {
    url = env("REMOTE_LOKI_WRITE_URL")

    basic_auth {
      username = env("REMOTE_LOKI_USERNAME")
      password = env("REMOTE_LOKI_PASSWORD")
    }
  }
}

// Remote Prometheus Server
prometheus.remote_write "remote_prometheus" {
  endpoint {
    url = env("REMOTE_PROMETHEUS_WRITE_URL")

    basic_auth {
      username = env("REMOTE_PROMETHEUS_USERNAME")
      password = env("REMOTE_PROMETHEUS_PASSWORD")
    }
  }
}

// Send Agent Logs to Loki
logging {
  level = "info"
  write_to = [loki.write.remote_loki.receiver]
}

prometheus.exporter.self "{{ alloy_hostname }}" {}
prometheus.scrape "{{ alloy_hostname }}" {
  targets    = prometheus.exporter.self.{{ alloy_hostname }}.targets
  forward_to = [prometheus.remote_write.remote_prometheus.receiver]
}


prometheus.exporter.unix "{{ alloy_hostname }}" { }
prometheus.scrape "{{ alloy_hostname }}" {
  targets    = prometheus.exporter.unix.{{ alloy_hostname }}.targets
  forward_to = [prometheus.remote_write.remote_prometheus.receiver]
}

prometheus.scrape "docker_metrics" {
  targets = [
    {
      __address__ = "127.0.0.1:9323",
      __metrics_path__ = "/metrics"
    }
  ]
  forward_to = [prometheus.remote_write.remote_prometheus.receiver]
}
